@import "header.css";
@import "aboutUs.css";
@import "preguntas.css";
@import "footer.css";
@import "glide.core.min.css";
@import "glide.theme.min.css";
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@font-face {
    font-family: Kiona;
    src: url("fuentes/Kiona-Regular.ttf");
}

body {
    font-size: .7em;
    background: #efefef;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    justify-content: center;
    padding: 0;
    border: 0;
    font-family: Kiona;
    font-weight: bolder;
}


/* -------------------parrafos---------------------------- */

.div2 {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    text-align: center;
    cursor: default;
}

.ocult {
    width: 12%;
    max-width: 1600px;
    background: #e1e2eb;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: #5e4e54;
    position: absolute;
    top: 169.5%;
    left: 45%;
    right: 45%;
    opacity: 0;
}

.card-img {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
}

.p1,
.p2 {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    background-color: none;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
}

.p1 {
    top: 80px;
    right: .5em;
    text-shadow: 5px 15px 10px #6a6d79;
}

.p2 {
    top: 200px;
    right: .5em;
    color: #E6D72A;
    text-shadow: 5px 15px 10px #6a6d79;
}

.title2 {
    /* position: absolute; */
    font-style: normal;
    color: black;
    box-sizing: content-box;
    font-size: 1.4em;
    font-weight: 10000;
    text-align: center;
}

.ofert-title {
    position: initial;
    width: 12%;
    padding-top: 100%;
    top: 15%;
    left: 45%;
    right: 45%;
}

.ofert-link {
    font-weight: 700px;
    color: #fff;
    text-decoration: none;
    font-family: Kiona;
    font-weight: bold;
}


/* //-------------------POSTER BOLSAS--------------------------------------- */

.bolsas {
    height: auto;
    background: efefef;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.bolsaMobil {
    display: none;
}

.bolsa-1,
.bolsa-1A {
    width: 50%;
    margin-left: 10em;
    /* border: 1px solid red; */
}

.bolsa-2 {
    width: 90%;
    margin-top: 14em;
    margin-left: -5em;
}

.img-bolsa {
    max-width: 450px;
    height: 450px;
    padding: 2rem;
    border-left: 3px #333 dashed;
    border-right: 3px #333 dashed;
}

.p-usbolsa {
    text-align: left;
    border-left: 2px solid #333;
    font-size: 1.8em;
    color: #333;
    letter-spacing: 1px;
    line-height: 2em;
    padding-left: 1rem;
    font-family: Kiona;
    font-weight: bold;
    text-transform: uppercase;
}


/* //-------------------enlace oferta--------------------------------------- */

.container {
    border-top: solid 5px #373d4b;
    width: 100%;
    max-width: 1600px;
    background: hsl(0, 0%, 94%);
    position: relative;
}

.bannerPromo {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    font-weight: 800;
    display: block;
    position: relative;
    transition: all 1s ease-in-out;
}

.bannerPromo:hover {
    background: red;
}

.bannerPromo-title {
    margin: 0;
    font-size: 14px;
    padding: 10px;
    font-family: Kiona;
    font-weight: bold;
}

.bannerDuoImages {
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    padding: 1rem;
    transition: all 1s ease-in-out;
    padding-top: 3em;
}

.imageItem {
    z-index: 10;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out !important;
    text-align: center;
    -webkit-box-shadow: 13px 9px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 9px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.promoTitle {
    margin: 0 auto;
    transition: all .5 ease-in-out;
    font-family: Kiona;
    font-weight: bold;
}

.promoTitle:hover {
    opacity: 1;
}

.img-ofert {
    transition: all .5s ease-in-out;
    max-width: 500px;
    max-height: 400px;
}

.imageItem:hover>.bu-color {
    transform: translateY(-100px);
    opacity: 1;
}

.imageItem:hover>.bu-color:hover {
    opacity: 1.0;
    background: white;
    color: black;
}

.img-ofert:hover {
    transform: scale(1.1);
    filter: brightness(120%);
}

a {
    text-decoration: none;
    color: black;
}

.price-ofert {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    padding-top: 420px;
}

.price-promo {
    padding-right: 120px;
    padding-left: 120px;
    font-size: 1.5em;
    font-family: Kiona;
    font-weight: bold;
}

.Modal-box {
    width: 40%;
    height: 40%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3d4d6;
    outline: 20px solid #ed3279;
    position: fixed;
}

.Modal {
    max-width: 1600px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 563px;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    display: none;
}

.Button-contact {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: transparent;
    z-index: var(--z-modal);
}

.icon-contact {
    padding: 0;
    max-width: 60px;
    max-height: 60px;
    display: flex;
    cursor: pointer;
}

.img-modal {
    max-width: 60px;
    max-height: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.modal-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-icons2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-icons2:hover {
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}

.ofert-link2 {
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

.Modal:target {
    display: flex;
}

.bu-color {
    background: black;
    left: 0;
}

.ofert-button {
    background: black;
    left: 10px;
}

.agotado {
    color: red !important;
    font-weight: bold;
}

.ofert-button,
.bu-color {
    width: 120px;
    height: 30px;
    text-align: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    position: absolute;
    z-index: var(--z-modal);
    /* left:0; */
    top: 100;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .1s ease-in-out;
    padding-top: 12px;
    text-transform: uppercase;
}

.ofert-button2 {
    width: 50px;
    height: 30px;
    text-align: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    position: absolute;
    z-index: var(--z-modal);
    bottom: 0;
    opacity: 0;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
}

.info-button {
    width: 95%;
    height: 80px;
    left: 5%;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0 auto;
    position: absolute;
    z-index: var(--z-fixed);
    top: 100;
    right: 0;
    bottom: 55px;
    transition: all .1s ease-in-out;
    padding-top: 10px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.180);
    opacity: 0;
}

.info-T {
    margin-top: 50px;
    padding-right: 15px;
}

.info-A {
    text-align: left;
    margin-top: 50px;
    word-spacing: 1.2em;
}

.avalible {
    font-weight: bold;
}

.no-avalible {
    text-decoration: line-through;
    color: red;
}


/* // --------------GLIDE------------------- */

.Buysafe {
    margin-top: 40px;
}

.Buysafe2 {
    margin-top: 0;
}


/* ------------HOVER------------ */

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #c3d4db;
    cursor: default;
}

.text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 15px;
    position: relative;
    top: -40px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 12px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 10px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}


/* ---------------------CATALOGO---------------------- */

.tabs-container {
    position: relative;
}

.tabs {
    list-style: none;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.tabs__item {
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 2.5;
    padding: .5em 1em;
    margin-right: 1px;
    background: rgb(150, 150, 150);
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 1px;
    border-bottom: none;
    cursor: pointer;
}

.active {
    z-index: var(--z-tooltip);
}

.panels {
    border: 1px solid #ccc;
    position: relative;
    z-index: var(--z-normal);
    background-image: url('https://i.ibb.co/VLJ1rch/fondo4.jpg');
    background-size: cover;
}

.panels__item {
    position: relative;
    display: none;
}

.panels__item.active {
    position: relative;
    display: block !important;
}

.panel1 {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.CatalogItem {
    width: 22%;
    height: 470px;
    z-index: 10;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out !important;
    text-align: center;
    margin-bottom: 30px;
}

.img-catalog {
    transition: all .25s ease;
    max-width: 500px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    margin: 0 1rem;
}

.description {
    margin: .5rem auto;
    transition: all .5 ease-in-out;
    text-transform: uppercase;
}

.price {
    margin: 0 auto;
    padding-right: 120px;
    padding-left: 120px;
    font-size: 1.1em;
    /* text-shadow: 1px 1px black; */
    /* text-decoration-line: underline; */
    /* text-decoration-style: double; */
}

.CatalogItem:hover>.ofert-button {
    transform: translateY(-150px);
    opacity: 1;
    height: 25px;
}

.CatalogItem:hover>.ofert-button2 {
    transform: translateY(-80px);
    opacity: 1;
    height: 25px;
}

.CatalogItem:hover>.ofert-button:hover {
    opacity: 1.0;
    background: white;
    color: black;
    border: solid black;
}

.CatalogItem:hover>.info-button {
    transform: translateY(-50px);
    opacity: 1;
}

.CatalogItem:hover>.info-button:hover {
    opacity: 1.0;
}


/* ----------------PANTALLA CARGA---------------- */

.container-loader {
    margin-top: -100px;
    background-color: rgba(250, 240, 245, 0.96);
    width: 100%;
    height: 120%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: var(--z-modal);
}

.loader {
    border: 5px solid #c7a0a0;
    border-top-color: #c3d4db;
    border-top-style: solid;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

.img-loader {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ----------------RESOLUCION MOBILE 600px---------------- */

@media (max-width: 600px) {
    body {
        font-size: .7em;
        background-image: url('https://i.ibb.co/VLJ1rch/fondo4.jpg');
        background-size: cover;
        width: 100%;
        max-width: 600px;
        margin: auto;
        justify-content: center;
        padding: 0;
        border: 0;
    }
    main {
        margin-top: 80px;
    }
    /* ----------------GLIDE SLIDE---------------- */
    .glide {
        margin-top: -31px;
    }
    .glide__arrow--right {
        right: 0em;
    }
    .glide__arrow--left {
        left: 0em;
    }
    .text {
        font-size: 12px;
        top: -25px;
    }
    .shape {
        stroke-width: 5px;
    }
    .svg-wrapper:hover .shape {
        -webkit-animation: none;
        animation: none;
    }
    nav {
        display: none;
    }
    .Modal {
        display: none;
    }
    .img-initial {
        max-width: 230px;
        max-height: 400px;
    }
    /* ----------------BOLSAS---------------- */
    .bolsas {
        width: 99%;
        height: 100%;
        background: efefef;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bolsaMobil {
        display: flex;
        flex-direction: column;
        font-size: .6em;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: url('https://i.ibb.co/VLJ1rch/fondo4.jpg');
    }
    .bolsa-1M {
        width: 80%;
        margin-top: 0;
        margin-left: 0em;
    }
    .img-bolsaM {
        width: 80%;
        border-left: 3px #333 dashed;
        border-right: 3px #333 dashed;
        margin-bottom: 2.5em;
    }
    .p-usbolsa {
        border-right: 2px solid #333;
        width: 80%;
        padding-right: 2em;
        text-align: center;
    }
    .bolsa-2 {
        display: none;
    }
    .bolsa-1,
    .bolsa-1A {
        display: none;
    }
    .p-usbolsa {
        margin: 20px 20px;
        font-size: 1.1em;
        font-family: Kiona;
        font-weight: bold;
    }
    /* ----------------PROMO---------------- */
    .bannerDuoImages {
        width: 100%;
        display: flex;
        position: relative;
        text-align: center;
        justify-content: space-evenly;
        padding: 0;
        transition: all 1s ease-in-out;
        padding-top: 1em;
        background-image: url('https://i.ibb.co/VLJ1rch/fondo4.jpg');
    }
    .img-ofert {
        transition: all .5s ease-in-out;
        max-width: 300px;
        max-height: 180px;
    }
    .price-promo {
        padding-right: 0;
        padding-left: 0;
        margin-top: 140px;
        width: 50%;
        font-size: .85em;
    }
    .price1 {
        margin-left: 10px;
    }
    .price2 {
        margin-right: 17px;
    }
    .price-ofert {
        padding-top: 75px;
        background-image: url('https://i.ibb.co/VLJ1rch/fondo4.jpg');
    }
    .bu-color {
        width: 70px;
        height: 20px;
        padding-top: 4px;
        font-size: 1em;
    }
    s {
        color: red;
        font-size: .8em;
    }
    .beforeprice {
        text-decoration: line-through;
        color: red;
        margin-top: 140px;
        width: 50%;
    }
    .imageItem:hover>.bu-color {
        transform: translateY(-40px);
        opacity: 1;
    }
    .imageItem:hover>.bu-color:hover {
        opacity: 1.0;
        background: white;
        color: black;
    }
    /* ----------------BARRA COMPRA SEGURA---------------- */
    .glideslide {
        top: 80px;
    }
    .glideslideC {
        top: 10px;
    }
    .glideslideAB {
        top: 0;
    }
    .glideslideQ {
        top: 90px;
    }
    /* ----------------boton  contacto web---------------- */
    .Button-contact {
        display: none;
    }
    /* ----------------CATALOGO---------------- */
    .CatalogItem {
        width: 45%;
        height: fit-content;
        margin-right: 15px;
    }
    .price {
        padding-right: 0;
        padding-left: 15px;
    }
    .img-catalog {
        max-width: 500px;
        max-height: 200px;
    }
    .info-button {
        width: 90%;
        height: 80px;
        left: 10%;
    }
    .description {
        margin: .5rem .8rem .5rem 1.6rem;
    }
    .proximamente {
        font-size: 1.5em;
        color: red;
        border-bottom: red solid 1px;
    }
    .agotado {
        color: red;
        font-weight: bold;
        font-size: 1.2em;
    }
}